################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XPlay/v15
/GeneratedFiles
/x64/Debug
